.main_chat
  .main_chat--top
    .group
      %p.group--name #{@group.name}
      .group--members 
        Member:
        - @group.users.each do |m|
          = m.name
    = link_to("#",class: "edit_btn" ) do
      %p Edit
  .main_chat--middle
    - @messages.each do |m|
      .message
        .message__top
          %p.message__top--name #{m.user.name}
          %p.message__top--date #{m.created_at}
        .message__bottom
          %p.message__bottom--content #{m.content}
  .main_chat--bottom
    = form_with model: [@group,@group.messages.new],class: "message_form" do |f|
      .message_area
        =f.text_field :content,class: "message_text",placeholder: "メッセージを入力して下さい"
        =f.label :image ,class: "file_label" do
          %i.far.fa-image
          =f.file_field :image,class: "file_uploader"
      =f.submit value: "Send",class: "message_submit"